<footer  class="w-[50%] mx-auto my-16 bg-gray-100 text-bold p-4">
<p>Created by <a class="footer-links" href="https://github.com/Daphineatim">Daphine Atim</a> and <a class="footer-links" href="https://github.com/johnkioko">
John Mutisya</a> © 2022</p>
</footer>